.landing
{
    width: auto;
    padding: 30px;
    background-image: url("./Assets/Moon\ +\ Stars.jpg");
}
.header
{
    color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.header-name{
    width: 100%;
    margin: 10px 0px 0px 0px;
    vertical-align: middle;
}
.header-logo
{
    margin-right: 0px;
    /* width: inherit; */
}
.flex-container-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
  }

.body-section
{
    font-size: 18px;
    font-family: 'Merriweather', serif;
    margin: 0px;
}
.cover-heading
{
    vertical-align: middle;
    font-size: 64px;
    text-align: center;
    padding: 108px;
    color: #ffffff;
    margin: 0;
}
.flex-container-row
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    
}
.flex-container-column
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}


.image
{
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}
.heading
{
    width: 60%;
    font-size: 48px;
    color: #2E0745;
    margin: 0px;
}
.sub-heading
{
    width: 50%;
    font-size: 22px;
    color: #212121;
}
.div-section
{
    min-height: 500px;
    padding: 10px 80px 80px 80px;
    align-content: center;
}
.placeholder
{
    display: block;
    background-color: #e4e4e4;
    width: 70%;
    height: 400px;
    margin: auto;
    padding: 30px;
}
.footer
{
    width: auto;
    padding: 50px;
    background-image: url("./Assets/Moon\ +\ Stars.jpg");
    margin: 0px;
}
.footer-text
{
    color: #ffffff;
    padding: 5px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
.font-size-16
{
    font-size: 16px;
}
.font-size-22
{
    font-size:22px;
}